main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
}

/* Song & Song control */
.song {
  width: 60%;
  text-align: center;
}

ul {
  margin: 2rem 0rem;
  list-style: none;
  font-size: var(--size-heading);
  display: flex;
  justify-content: space-evenly;
  user-select: none;
  cursor: pointer;
}

/* Chat area */

.chat {
  width: 80%;
  height: 60vh;
  background-color: var(--bg-secondary);
  border-radius: 2rem;
  position: relative;
}

form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-textbox);
  width: 95%;
  border-radius: 2rem;
  margin: 1rem auto;
}

form input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  font-size: var(--size-content);
  background-color: transparent;
  color: var(--text-muted);
  font-weight: 700;
}

form button {
  background-color: var(--green);
  padding: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--size-content);
  outline: none;
  border: none;
  user-select: none;
}

form input:focus {
  outline: none;
  font-weight: 700;
  color: var(--text-primary);
}

.chat-window {
  height: 85%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.message {
  margin: 1rem 5rem;
  overflow-wrap: break-word;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  main {
    width: 90%;
  }
  .song {
    width: 100%;
  }
  .chat {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .message {
    margin: 1rem 3rem;
  }
}
