/* ----------------------------------- */
/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Colors */
  --bg-primary: #343a40;
  --bg-secondary: #2b3035;
  --bg-textbox: #212529;
  --text-primary: #dee2e6;
  --text-muted: #adb5bd;
  --green: #5cb85c;
  --red: #fa5252;
  /* Sizes */
  --size-nav: calc(1.5rem + 0.5vw);
  --size-content: calc(1rem + 0.5vw);
  --size-heading: calc(2rem + 1vw);
  --size-small: calc(0.8rem + 0.5vw);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-primary);
  font-weight: 700;
  color: var(--text-primary);
}

.btn {
  background-color: var(--green);
  color: var(--text-primary);
  border: none;
  padding: 1rem 5rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--size-heading);
  margin-top: 2rem;
}

.btn-exit {
  user-select: none;
  background-color: var(--red);
  color: var(--text-primary);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--size-content);
}

h1 {
  font-size: var(--size-heading);
  font-weight: 700;
  color: var(--text-primary);
}

h2 {
  font-size: var(--size-content);
  font-weight: 700;
  color: var(--text-primary);
}

h3 {
  font-size: var(--size-small);
  font-weight: 700;
  color: var(--red);
}

/* ----------------------------------- */
/* MAKING SCROLL BARS TRASPARENT */
/* For Webkit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* For Firefox */
:root {
  scrollbar-color: var(--bg-secondary) transparent;
}

/* ----------------------------------- */
/* NAV BAR */
nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  min-height: 10vh;
  align-items: center;
}

nav h2 {
  font-size: var(--size-nav);
  font-weight: 700;
  color: var(--text-primary);
  user-select: none;
}

/* ----------------------------------- */
/* MEDIA QUERIES */
/* Font size shouldn't increse after this */
@media screen and (min-width: 2000px) {
  html {
    --size-nav: 5rem;
    --size-content: 3rem;
    --size-heading: 6rem;
  }
}
