<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>songRoom</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Styles -->
    <link rel="stylesheet" href="./styles/styles.css" />
    <link rel="stylesheet" href="./styles/main.css" />
  </head>
  <body>
    <nav>
      <!-- Appears only when we are in a room -->
      <button class="btn-exit">End Room</button>
      <!-- Appears always -->
      <h2>songBuddy</h2>
    </nav>
    <!-- MAIN application -->
    <main>
      <!-- Song name and controls -->
      <div class="song">
        <h1>Fleetwood Mac - The Chain</h1>
        <ul>
          <li>⏪</li>
          <li>⏸️</li>
          <li>⏩</li>
        </ul>
      </div>
      <!-- Chat -->
      <div class="chat"></div>
    </main>
  </body>
</html>
