<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>songRoom</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Styles -->
    <link rel="stylesheet" href="./styles/styles.css" />
    <link rel="stylesheet" href="./styles/landing.css" />
  </head>
  <body>
    <nav>
      <!-- Appears only when we are in a room -->
      <!-- <button class="btn-exit">End Room</button> -->
      <!-- Appears always -->
      <h2>songBuddy</h2>
    </nav>
    <main>
      <h1 id="title">Song Buddy</h1>
      <div class="btn-container">
        <button class="btn btn-land">Join Room</button>
        <button class="btn btn-land">Create Room</button>
        <button class="btn btn-land">Add Song to Library</button>
      </div>
    </main>
  </body>
</html>
