main {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#title {
  font-size: var(--size-title);
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.btn-land {
  width: 40%;
}

.lib {
  width: 50%;
  background-color: var(--green);
  color: var(--text-primary);
  border: none;
  padding: 1rem 5rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--size-content);
  margin-top: 2rem;
  user-select: none;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  #title {
    font-size: 3rem;
  }

  .btn-land {
    width: 80%;
  }

  .lib {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .btn-land {
    width: 60%;
  }

  .lib {
    width: 70%;
  }
}
